# Add any directories, files, or patterns you don't want to be tracked by version control
*.dcu
*.bpl
*.map
*.exe
*.tvsconfig
*.txaPackage
*.local
*.identcache
*.stat
__history/
__recovery/
Exemples/FMX/Win32/Debug/
Exemples/VCL/Win32/Debug/
Exemples/FMX/Win32/Release/
Exemples/VCL/Win32/Release/
/modules
